body {
    margin: 0;
    background-color: #303030;
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

:root {
    --navbar-height: 4rem;
    --icon-size: 2rem;
}

/* styles for Page component */
.page-base {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
}

.page-hide {
    display: none;
}

/* styles for Navbar component */
.navbar-base {
    width: 100vw;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: var(--navbar-bg);
    height: var(--navbar-height);
}

.navbar-button {
    cursor: pointer;
    padding: 0.5rem;
    margin: 0.5rem;
    outline: none;
    background-color: var(--navbar-button-color);
    color: var(--navbar-button-text);
    border: none;
    font-size: 1rem;
    border-radius: 0.25rem;
}

.navbar-button:hover {
    background-color: var(--navbar-button-color-hover);
}

.navbar-button-active {
    background-color: var(--navbar-button-color-active);
}

/* styles for Settings component */

.settings-icon {
    --settings-offset: calc((var(--navbar-height) - var(--icon-size)) / 2);
    position: absolute;
    right: var(--settings-offset);
    bottom: var(--settings-offset);
    width: var(--icon-size);
    height: var(--icon-size);
    color: var(--settings-gear-color);
    cursor: pointer;
    z-index: 1001;
}

.settings-blocker {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 1000;
}

.settings-page {
    background-color: white;
    border-radius: 0.5rem;
    position: absolute;
    left: 50vw;
    top: 50vh;
    width: calc(min(80vw, 60vh));
    height: 80vh;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 1rem;
    cursor: default;
    overflow: scroll;
}

.settings-container {
    box-sizing: border-box;
    padding: 1rem;
}

.settings-caret {
    width: 1rem;
    height: 1rem;
    transition-duration: 0.25s;
}

.settings-caret-rotated {
    transform: rotate(90deg);
}

.settings-section-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.settings-hidden {
    display: none;
}

.settings-color-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #eee;
    border-radius: 0.25rem;
    padding: 0.5rem;
    box-sizing: border-box;
    margin-block: 1rem;
}

.settings-color-reset {
    background-color: #fc3333;
    color: white;
    border-radius: 0.25rem;
    box-sizing: border-box;
    padding: 1rem;
    border: none;
    outline: none;
    margin-block: 1rem;
    font-size: 1rem;
    cursor: pointer;
}

.settings-color-reset:hover {
    background-color: #e23333;
}

.settings-link-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    border-radius: 0.5rem;
    background-color: #eee;
    margin-block-end: 1rem;
}

.settings-link-item div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.settings-link-thumbnail {
    width: 2rem;
    height: 2rem;
}

.settings-link-delete {
    width: 2rem;
    height: 2rem;
    justify-self: flex-end;
    border-radius: 50%;
    cursor: pointer;
}

.settings-link-input {
    border-radius: 0.5rem;
    background-color: #ddd;
    padding: 0.5rem;
    box-sizing: border-box;
    border: 2px solid #aaa;
    outline: none;
}

.settings-link-create {
    background-color: lightgreen;
    border-radius: 0.5rem;
    padding: 0.5rem;
    border: 2px solid #3a3;
    cursor: pointer;
    width: 5rem;
}
.settings-link-create:hover {
    background-color: #7d7;
}

.settings-link-blocked {
    cursor: not-allowed;
    opacity: 0.25;
}
