body {
    margin: 0;
    background-color: #303030;
}

/* styles for Page component */
.page-base {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
}

.page-hide {
    display: none;
}

/* styles for Navbar component */
.navbar-base {
    width: 100vw;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: var(--navbar-bg);
}

.navbar-button {
    cursor: pointer;
    padding: 0.5rem;
    margin: 0.5rem;
    outline: none;
    background-color: var(--navbar-button-color);
    color: var(--navbar-button-text);
    border: none;
    font-size: 1rem;
    border-radius: 0.25rem;
}

.navbar-button:hover {
    background-color: var(--navbar-button-color-hover);
}

.navbar-button-active {
    background-color: var(--navbar-button-color-active);
}
