<div>
    <h2>Clock Options</h2>

    <h3 style="margin-top: 0.5rem">Display Format</h3>
    <input type="radio" name="radio-clock" value="12" />
    <label for="12">12-Hour Clock</label>
    <input type="radio" name="radio-clock" value="24" />
    <label for="24">24-Hour Clock </label>
    <input type="radio" name="radio-clock" value="none" />
    <label for="none">No Clock </label>

    <h3 style="margin-top: 0.5rem">Time Format</h3>
    <input type="radio" name="radio-sec" value="yes" />
    <label for="no">HH:MM:SS </label>
    <input type="radio" name="radio-sec" value="no" />
    <label for="no">HH:MM</label>

    <h2 style="margin-top: 1rem">Add or Remove Links</h2>
</div>
